-- Jumping (flash.nvim)
link_many("Comment", { "FlashBackdrop", "FlashPrompt" })
link_many("Search", { "FlashMatch", "FlashCurrent" })
link_many("IncSearch", { "FlashLabel", "FlashLabeler" })
link_many("Cursor", { "FlashCursor" })
