-- Search and replace (grug-far.nvim)
link_many("Title", {
  "GrugFarInputLabel",
  "GrugFarResultsHeader",
  "GrugFarHelpWinHeader",
  "GrugFarHelpHeader",
  "GrugFarResultsCmdHeader",
})
link_many("Function", { "GrugFarHelpHeaderKey", "GrugFarHelpWinActionKey" })
link_many("DiagnosticInfo", { "GrugFarResultsActionMessage" })
link_many("Search", { "GrugFarResultsMatch" })
link_many("Comment", {
  "GrugFarHelpWinActionDescription",
  "GrugFarHelpWinActionPrefix",
  "GrugFarHelpWinActionText",
  "GrugFarResultsPath",
  "GrugFarResultsStats",
  "GrugFarResultsLongLineStr",
  "GrugFarInputPlaceholder",
})
link_many("Added", { "GrugFarResultsAddIndicator", "GrugFarResultsMatchAdded" })
link_many("Changed", { "GrugFarResultsChangeIndicator" })
link_many("IncSearch", { "GrugFarCurrentMatch" })
link_many("Removed", { "GrugFarResultsRemoveIndicator", "GrugFarResultsMatchRemoved" })
