hl("NvimTreeNormal", { fg = c.fg, bg = c.bg_alt })
hl("NvimTreeWinSeparator", { fg = c.border, bg = c.bg_alt })
hl("NvimTreeRootFolder", { fg = c.blue, bold = true })
hl("NvimTreeFolderName", { fg = c.blue })
hl("NvimTreeOpenedFolderName", { fg = c.blue, bold = true })
