-- Syntax
hl("Comment", { fg = c.muted, italic = true })
hl("Constant", { fg = c.pink })
hl("String", { fg = c.green })
hl("Character", { fg = c.green })
hl("Number", { fg = c.orange })
hl("Boolean", { fg = c.orange, bold = true })
hl("Float", { fg = c.orange })
hl("Identifier", { fg = c.fg })
hl("Function", { fg = c.blue })
hl("Statement", { fg = c.purple })
hl("Conditional", { fg = c.purple })
hl("Repeat", { fg = c.purple })
hl("Label", { fg = c.purple })
hl("Operator", { fg = c.purple })
hl("Keyword", { fg = c.purple })
hl("Exception", { fg = c.purple })
hl("PreProc", { fg = c.pink })
hl("Include", { fg = c.purple })
hl("Define", { fg = c.pink })
hl("Macro", { fg = c.pink })
hl("PreCondit", { fg = c.pink })
hl("Type", { fg = c.cyan })
hl("StorageClass", { fg = c.cyan })
hl("Structure", { fg = c.cyan })
hl("Typedef", { fg = c.cyan })
hl("Special", { fg = c.pink })
hl("SpecialChar", { fg = c.pink })
hl("Tag", { fg = c.cyan })
hl("Delimiter", { fg = c.subtle })
hl("SpecialComment", { fg = c.muted, italic = true })
hl("Debug", { fg = c.pink })
hl("Underlined", { underline = true })
hl("Bold", { bold = true })
hl("Italic", { italic = true })
hl("Error", { fg = c.red, bold = true })
hl("Todo", { fg = c.yellow, bg = c.bg_alt, bold = true })

-- Diagnostics
hl("DiagnosticError", { fg = c.red })
hl("DiagnosticWarn", { fg = c.yellow })
hl("DiagnosticInfo", { fg = c.info })
hl("DiagnosticHint", { fg = c.info })
hl("DiagnosticOk", { fg = c.green })

hl("DiagnosticUnderlineError", { undercurl = true, sp = c.red })
hl("DiagnosticUnderlineWarn", { undercurl = true, sp = c.yellow })
hl("DiagnosticUnderlineInfo", { undercurl = true, sp = c.info })
hl("DiagnosticUnderlineHint", { undercurl = true, sp = c.info })

hl("DiagnosticVirtualTextError", { fg = c.red, bg = c.bg_alt })
hl("DiagnosticVirtualTextWarn", { fg = c.yellow, bg = c.bg_alt })
hl("DiagnosticVirtualTextInfo", { fg = c.info, bg = c.bg_alt })
hl("DiagnosticVirtualTextHint", { fg = c.info, bg = c.bg_alt })
hl("DiagnosticVirtualTextOk", { fg = c.green, bg = c.bg_alt })

hl("DiagnosticVirtualLinesError", { fg = c.red, bg = c.bg_alt })
hl("DiagnosticVirtualLinesWarn", { fg = c.yellow, bg = c.bg_alt })
hl("DiagnosticVirtualLinesInfo", { fg = c.info, bg = c.bg_alt })
hl("DiagnosticVirtualLinesHint", { fg = c.info, bg = c.bg_alt })
hl("DiagnosticVirtualLinesOk", { fg = c.green, bg = c.bg_alt })

hl("DiagnosticFloatingError", { fg = c.red, bg = c.bg_alt })
hl("DiagnosticFloatingWarn", { fg = c.yellow, bg = c.bg_alt })
hl("DiagnosticFloatingInfo", { fg = c.info, bg = c.bg_alt })
hl("DiagnosticFloatingHint", { fg = c.info, bg = c.bg_alt })
hl("DiagnosticFloatingOk", { fg = c.green, bg = c.bg_alt })

hl("DiagnosticSignError", { fg = c.red, bg = c.bg })
hl("DiagnosticSignWarn", { fg = c.yellow, bg = c.bg })
hl("DiagnosticSignInfo", { fg = c.info, bg = c.bg })
hl("DiagnosticSignHint", { fg = c.info, bg = c.bg })
hl("DiagnosticSignOk", { fg = c.green, bg = c.bg })

hl("DiagnosticDeprecated", { fg = c.yellow, strikethrough = true })
hl("DiagnosticUnnecessary", { fg = c.subtle, italic = true })
hl("DiagnosticUnderlineOk", { undercurl = true, sp = c.green })
hl("LspReferenceText", { bg = c.selection })
hl("LspReferenceRead", { bg = c.selection })
hl("LspReferenceWrite", { bg = c.selection, bold = true })
hl("LspReferenceTarget", { bg = c.selection, underline = true })
hl("LspCodeLens", { fg = c.subtle, italic = true })
hl("LspCodeLensSeparator", { fg = c.border })
hl("LspInlayHint", { fg = c.muted, bg = c.bg_alt, italic = true })
hl("LspSignatureActiveParameter", { fg = c.blue, bold = true, underline = true })

-- Diff / Git
hl("DiffAdd", { bg = c.diff_add })
hl("DiffChange", { bg = c.diff_change })
hl("DiffDelete", { bg = c.diff_delete })
hl("DiffText", { bg = c.selection, bold = true })

hl("Added", { fg = c.green })
hl("Changed", { fg = c.purple })
hl("Removed", { fg = c.red })

-- Spelling
hl("SpellBad", { undercurl = true, sp = c.red })
hl("SpellCap", { undercurl = true, sp = c.yellow })
hl("SpellRare", { undercurl = true, sp = c.yellow })
hl("SpellLocal", { undercurl = true, sp = c.info })

-- Treesitter fallbacks
link("@comment", "Comment")
link("@comment.documentation", "Comment")
link("@comment.error", "DiagnosticError")
link("@comment.warning", "DiagnosticWarn")
link("@comment.note", "DiagnosticInfo")
link("@comment.todo", "Todo")
link("@constant", "Constant")
hl("@constant.builtin", { fg = c.pink, italic = true })
hl("@constant.macro", { fg = c.pink, italic = true })
hl("@string", { link = "String" })
hl("@string.escape", { fg = c.pink })
hl("@string.regexp", { fg = c.pink })
hl("@string.special", { fg = c.green, italic = true })
hl("@string.special.path", { fg = c.green, underline = true })
hl("@string.special.url", { fg = c.blue, underline = true })
link("@character", "Character")
hl("@character.special", { fg = c.pink })
link("@number", "Number")
link("@boolean", "Boolean")
link("@function", "Function")
link("@function.call", "Function")
hl("@function.builtin", { fg = c.blue, italic = true })
hl("@function.macro", { fg = c.pink, italic = true })
hl("@method", { fg = c.blue })
hl("@method.call", { fg = c.blue })
hl("@constructor", { fg = c.cyan })
hl("@module", { fg = c.cyan })
hl("@namespace", { fg = c.cyan })
hl("@parameter", { fg = c.fg })
hl("@variable.parameter", { fg = c.fg })
hl("@variable.member", { fg = c.fg })
link("@keyword", "Keyword")
hl("@keyword.function", { fg = c.purple })
hl("@keyword.operator", { fg = c.purple })
hl("@keyword.import", { fg = c.purple })
hl("@keyword.exception", { fg = c.purple })
hl("@keyword.directive", { fg = c.pink })
hl("@keyword.return", { fg = c.purple, italic = true })
link("@conditional", "Conditional")
link("@repeat", "Repeat")
link("@operator", "Operator")
link("@type", "Type")
hl("@type.builtin", { fg = c.cyan, italic = true })
hl("@type.definition", { fg = c.cyan })
hl("@type.qualifier", { fg = c.purple })
hl("@attribute", { fg = c.pink })
hl("@property", { fg = c.fg })
hl("@field", { fg = c.fg })
hl("@variable", { fg = c.fg })
hl("@variable.builtin", { fg = c.pink, italic = true })
hl("@punctuation.delimiter", { fg = c.subtle })
hl("@punctuation.bracket", { fg = c.subtle })
hl("@punctuation.special", { fg = c.subtle })
link("@tag", "Tag")
hl("@tag.attribute", { fg = c.pink })
hl("@tag.delimiter", { fg = c.subtle })
hl("@markup.strong", { bold = true })
hl("@markup.italic", { italic = true })
hl("@markup.strikethrough", { strikethrough = true })
hl("@markup.heading", { fg = c.blue, bold = true })
link_many("@markup.heading", {
  "@markup.heading.1",
  "@markup.heading.2",
  "@markup.heading.3",
  "@markup.heading.4",
  "@markup.heading.5",
  "@markup.heading.6",
})
hl("@markup.link", { fg = c.blue, underline = true })
hl("@markup.link.url", { fg = c.blue, underline = true })
hl("@markup.raw", { fg = c.green })
hl("@markup.raw.block", { fg = c.green })
hl("@markup.list", { fg = c.subtle })
hl("@markup.quote", { fg = c.muted, italic = true })
hl("@diff.plus", { fg = c.green })
hl("@diff.minus", { fg = c.red })
hl("@diff.delta", { fg = c.purple })

-- LSP semantic tokens
link("@lsp.type.class", "@type")
link("@lsp.type.comment", "@comment")
link("@lsp.type.decorator", "@attribute")
link("@lsp.type.enum", "@type")
link("@lsp.type.enumMember", "@constant")
link("@lsp.type.event", "@type")
link("@lsp.type.function", "@function")
link("@lsp.type.interface", "@type")
link("@lsp.type.keyword", "@keyword")
link("@lsp.type.macro", "@function.macro")
link("@lsp.type.method", "@method")
link("@lsp.type.modifier", "@keyword")
link("@lsp.type.namespace", "@namespace")
link("@lsp.type.number", "@number")
link("@lsp.type.operator", "@operator")
link("@lsp.type.parameter", "@parameter")
link("@lsp.type.property", "@property")
link("@lsp.type.regexp", "@string.regexp")
link("@lsp.type.string", "@string")
link("@lsp.type.struct", "@type")
link("@lsp.type.type", "@type")
link("@lsp.type.typeParameter", "@type")
link("@lsp.type.variable", "@variable")
hl("@lsp.mod.abstract", { italic = true })
hl("@lsp.mod.async", { italic = true })
hl("@lsp.mod.declaration", { bold = true })
hl("@lsp.mod.defaultLibrary", { italic = true })
hl("@lsp.mod.definition", { bold = true })
link("@lsp.mod.deprecated", "DiagnosticDeprecated")
hl("@lsp.mod.documentation", { italic = true })
hl("@lsp.mod.modification", { underline = true })
hl("@lsp.mod.readonly", { fg = c.pink })
hl("@lsp.mod.static", { fg = c.pink, italic = true })

-- Markdown
hl("markdownH1", { fg = c.blue, bold = true })
hl("markdownH2", { fg = c.blue, bold = true })
hl("markdownH3", { fg = c.blue, bold = true })
hl("markdownCode", { fg = c.green })
hl("markdownCodeBlock", { fg = c.green })
hl("markdownItalic", { italic = true })
hl("markdownBold", { bold = true })
hl("markdownUrl", { fg = c.blue, underline = true })
