-- Optional plugin highlights. These declarations are inert when a plugin is
-- absent and contain no plugin loading or lifecycle behaviour.
{% include "neovim/partials/plugins/blink.lua.j2" %}
{% include "neovim/partials/plugins/bufferline.lua.j2" %}
{% include "neovim/partials/plugins/flash.lua.j2" %}
{% include "neovim/partials/plugins/gitsigns.lua.j2" %}
{% include "neovim/partials/plugins/grug-far.lua.j2" %}
{% include "neovim/partials/plugins/interfaces.lua.j2" %}
{% include "neovim/partials/plugins/snacks.lua.j2" %}
{% include "neovim/partials/plugins/todo-trouble.lua.j2" %}
{% include "neovim/partials/plugins/which-key.lua.j2" %}
{% include "neovim/partials/plugins/telescope.lua.j2" %}
{% include "neovim/partials/plugins/nvim-tree.lua.j2" %}
